div.page 
{
    /*background-image:url('../Styles/img/PlainBackground.jpg');*/
    background: url(../images/bg.png) repeat;
    background-color:#6E706F;
    /*background-repeat:no-repeat;*/
    background-position:top;
    width: auto;
    height:1000px;
	top: 0;
	left: 0;
}

ul.navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 40%;
    left: 20px;
    list-style: none;
    z-index:9999;
}
ul.navigation li {
    width: 0px;
}
ul.navigation li div
{
	display:table; 
	width: 200px;
	height: 50px;
	margin-left: -120px;
	padding: 0;
	top:50%;
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 10px 10px 10px 10px;
	background: rgba(0,0,0,0.25);
	box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	-o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);


    opacity: 0.6;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}

ul.navigationTo 
{
	width:0px;
    position:fixed;
    margin: 0px;
    padding: 0px;
    top: 5%;
    bottom:5%;
    left: 90%;
    list-style: none;
    z-index:9999;
}
ul.navigationTo li {
    width: 0px;
}
ul.navigationTo li div 
{
	display:block; 
	width: 140px;
	/*height: 515px;*/
	margin-right: +2px;
	padding: 0;
	top:10%;
	bottom:10%;
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 10px 10px 10px 10px;
	background: rgba(0,0,0,0.25);
	box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	-o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);

    opacity: 0.6;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}

ul.navigationTo button
{
    border-color:transparent; 
    background-color:transparent;
    width:60px;
    height:60px;
    margin:0px;
    padding:0px;
}

button img
{
	width:60px;
    height:60px;
}

ul.navigation button 
{
	border-color:transparent; 
    background-color:transparent;
    width:60px;
    height:60px;
    padding:0px;
    margin-left:100px;
}